<h2>Eventos</h2>
<hr>

<div class="row g-3">
  <div class="col-auto">
    <label class="col-form-label fw-bold">Filtro: </label>
  </div>
  <div class="col-auto">
    <input class="form-control mb-3" placeholder="buscar" type="text" [(ngModel)]="filterList" />
  </div>
</div>

<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>
        <button class="btn btn-outline-light btn-sm" (click)="HideOrShowImages()">
          {{textButton}}
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="events && events.length">
    <tr *ngFor="let event of eventsFiltered">
      <td>
        <figure [collapse]="!showImg" [isAnimated]="true">
          <img *ngIf="event.imageUrl" src="/assets/{{event.imageUrl}}" alt="Foto do Evento"
            [style.width.px] = "imgWith"
            [style.margin.px]= "imgMargin"
          />
        </figure>
      </td>
      <td>{{event.id}}</td>
      <td>{{event.theme}}</td>
      <td>{{event.local}}</td>
      <td>{{event.dateEvent  | date:'dd/MM/yyyy' }}</td>
      <td>{{event.quantityPeople}}</td>
      <td>{{event.batch}}</td>
      <td>
        <button type="button" class="btn btn-primary btn-sm me-2">Editar</button>
        <button type="button" class="btn btn-danger btn-sm">Deletar</button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!events.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum evento encontrado!</h4>
      </td>
    </tr>
  </tfoot>
</table>
